<header class="flex py-4 px-2 bg-slate-900">
    <div class="flex flex-row items-baseline">
        <p class="text-2xl text-slate-200">.display</p>
        <p class="text-xl pl-2 text-slate-500">Show off your dots</p>
    </div>
</header>