<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/static/lib/htmx.min.js"></script>
    <script src="/static/lib/tailwindcss.min.js"></script>
</head>

<body>
    <%- include('partials/header'); %>

        <main class="flex m-2">
            <div class="w-1/4">
                <header>
                    <h1 class="text-4xl"><%- data.author %>'s dotfiles</h1>
                    <p class="block mt-1 text-xl text-slate-500">Git: <a class="underline hover:text-slate-700"
                            href="<%= data.repo_url %>"><%- data.repo_slug %></a></p>
                </header>

                <hr class="my-2">

                <div>
                    <p class="text-lg font-bold">Info:</p>
                    <ul class="text-md">
                        <li>Running on <span class="font-bold"><%- data.operating_system %></span></li>
                        <li>Using <span class="font-bold"><%- data.environment %></span></li>
                        <li>Font: <span class="font-bold"><%- data.font %></span></li>
                    </ul>
                </div>

                <hr class="my-2">

                <div>
                    <p class="text-lg font-bold">Description:</p>
                    <pre class="bg-slate-200 text-sm">
                        <%= body %> 
                    </pre>
                </div>
            </div>
            <div class="w-3/4">
                <img src="<%= media %>" />
            </div>
        </main>
</body>

</html>