<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <script src="/static/lib/htmx.min.js"></script>
    <script src="/static/lib/tailwindcss.min.js"></script>
</head>

<body class="h-screen flex flex-col">
    <%- include('partials/header'); %>


        <div class="w-full h-full bg-slate-200 grid">
            <main  class="bg-slate-100 rounded-xl place-self-center p-8">
                <h1 class="text-4xl mb-4">Register</h1>

                <div id="replace">
                    <p>You need to provide an username and a password. Nothing else!</p>

                    <form class="mt-4" hx-post="/register/submit" hx-target="#replace">
                        <label for="username" class="block">Username</label>
                        <input id="username" name="username" type="text" placeholder="e.g. dotmaster"
                            class="bg-white w-full p-1 rounded-md border-solid border border-black" />
                        <label class="block mt-4" for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="e.g. p4ssw0rd"
                            class="bg-white w-full p-1 rounded-md border-solid border border-black" />

                        <button
                            class="bg-slate-800 hover:bg-slate-900 px-4 py-2 rounded-md block mx-auto mt-8 text-lg text-white">
                            Register !
                        </button>
                    </form>
                </div>
            </main>
        </div>
</body>

</html>